<launch>
    <include file="$(find rl_planner)/launch/turtlebot3_world.launch"/>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="5 rl_planner turtlebot3_navigation.launch"
    name="timed_roslaunch"/>

    <!-- <include file="$(find rl_planner)/launch/turtlebot3_navigation.launch"/> -->
    <!-- <node pkg="rl_planner" type="tf_map2odom.py" name="tf_map2odom_node" output="screen"/> -->
    <!-- <node pkg="rl_planner" type="RL_planner_node.py" name="RL_planner_node" output="screen"/> -->

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="7 rl_planner RL_node.launch"
    name="timed_roslaunch2" output="screen" />
</launch>